<a href="https://colab.research.google.com/github/saloni78/python/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.WAP to print table of n, where n is entered by the user

In [ ]:
n=int(input("enter a no.to print the tables "))
for i in range(1,12):
    print(n,"*",i,"=",n*i)

enter a no.to print the tables 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88

### 2.WAP to print sum of n natural no.s ,where n is entered by the user

In [ ]:
n = int(input("enter any no. "))
sum = 0
for i in range(1, n + 1):
  sum = sum + i
print("sum of natural no.s from 1 to {} = {}".format(n,sum))

enter any no. 15
sum of natural no.s from 1 to 15 = 120

### **3.WAP to print the factorial of the given number,where n is enterd by the user**

In [ ]:
n=int(input("enter any no. "))
factorial=1
for i in range(1,n+1):
  factorial=factorial*i
print("factotial of ", n,"=",factorial)

enter any no. 5
factotial of  5 = 120

In [ ]:
n=int(input("enter any no. "))
factorial=1
if n<0:
    print("factorial of negative no.s does not exist")
elif n==0:
    print("factorial of 0 is 1")
else:
  for i in range(1,n+1):
    factorial=factorial*i
print("factotial of ", n,"=",factorial)

enter any no. 0
factorial of 0 is 1
factotial of  0 = 1