<a href="https://colab.research.google.com/github/saloni78/python/blob/main/IF_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=int(input("x: "))
y=int(input("y: "))
if x>y:
  print('x is greater than y')
elif x<y:
  print('x is less than y')
else:
  print('x and y are equal')

x: 34
y: 54
x is less than y

In [7]:
for i in [34,5,10,94,7,15]:
  if i>20:
    print('small no.',i)

small no. 34
small no. 94

In [8]:
a = 150
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [9]:
if a > b: print("a is greater than b")

a is greater than b

In [10]:
a = 358
b = 56
c = 100
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [13]:
a = 20
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")
else:
  print("no condition is true")

no condition is true

In [14]:
num = 42
if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Even Number

In [15]:
n=int(input("enter any no. "))
if n%2==0:
  print("even no.")
else:
  print("odd no.")

enter any no. 55
odd no.

In [22]:
smallest = None
print('before')
for i in[11,34,5,20,45,78]:
  if smallest is None:
    smallest=i
  elif i<smallest:
    smallest=i
  print(smallest,i)
print('after',smallest)

before
11 11
11 34
5 5
5 20
5 45
5 78
after 5

In [26]:
smallest = None
print('before')
for i in[11,34,5,20,45,78]:
  if smallest is None:
    smallest=i
  elif i>smallest:
    smallest=i
  else:
    i<smallest
  print(smallest,i)
print('after',smallest)

before
11 11
34 34
34 5
34 20
45 45
78 78
after 78

In [28]:
value = 50
print(True) if value < 15 else print(False)

False

In [30]:
age = 20;
if (age < 15):
    print ("age is smaller than 15")
else:
    print ("age is greater than 15")
print ("I am not in any block ")

age is greater than 15
I am not in any block

In [32]:
price = 50
quantity = 5
if price*quantity < 500:
    print("price*quantity is less than 500")
    print("price = ", price)
    print("quantity = ", quantity)

price*quantity is less than 500
price =  50
quantity =  5

In [31]:
temperature = 27
if temperature > 20:
    print('its a rainy day')
else:
    print("its a cloudy day")

its a rainy day

In [33]:
age = 22
if age >= 18 and age < 65:
    print("eligible")

eligible