<a href="https://colab.research.google.com/github/saloni78/python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **For loop**

In [ ]:
prices=[2,2.50,3.50,4]
for price in prices:
  print('price is',price)

price is 2
price is 2.5
price is 3.5
price is 4

In [1]:
name='hello world'
for i in name:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
total=0
prices=[2.50,33,567,4.67]
for price in prices:
  print('price is',price)
  total=total+price
  print('total is',total)
average=total/len(prices)
print('avg is',average)

price is 2.5
total is 2.5
price is 33
total is 35.5
price is 567
total is 602.5
price is 4.67
total is 607.17
avg is 151.7925

In [ ]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [2]:
for x in range(8):
    print(x*x)

0
1
4
9
16
25
36
49

In [ ]:
student_name = 'Juli'

marks = {'asish' : 80, 'Juli' : 55, 'ram' : 77}

for student in marks:
    if student == student_name:
        print(marks[student])

55

In [ ]:
student_name = 'Suraj'

marks = {'asish' : 80, 'Juli' : 55, 'ram' : 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('no record found.')

no record found.

In [ ]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [3]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}

for x in sports:
    print(x, sports[x])

A Cricket
B Football
C Hockey
D Badminton

In [ ]:
n= int(input('Enter the Number'))
for num in range(1,n+1,1):
    print(num)

Enter the Number8
1
2
3
4
5
6
7
8

In [ ]:
for num in [1,2,3,4,5]:
	print(num**2)

1
4
9
16
25

In [ ]:
for num in [1,2,3,4,5]:
	print(num*2)

2
4
6
8
10

In [5]:
total = 0
values = [1, 2, 4, 8, 16]

for sum in values:
    total = total + sum
    # total += sum
    print(total)

1
3
7
15
31

In [ ]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
print(r2)
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r3)

0.30151062432397324
4
868

In [ ]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
print(r2)
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r3)

0.8381490863674533
5
334

### **while loop**

In [ ]:
n=5
num=int(input("Enter the number" ))
while n<=num:
  print(n)
  n+=1

Enter the number7
5
6
7

In [6]:
value = 4.2
while value < 8:
    value = value * 2
    print(value)

print("final value:", value)

8.4
final value: 8.4

In [8]:
i = 1
while i < 6:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [11]:
#Check how many times a given number can be divided by 3 before it is less than or equal to 10.
count = 0
number = 580
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 4